
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilportfolio.jpeg" class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>
                    Bienvenidos a mi portfolio. Recientemente iniciada en el mundo IT profesional, encontre una nueva pasión en la programación. 
                    Soy autodidacta, tengo facilidad para trabajar en equipo, soy muy responsable y servicial. Disfruto los desafíos y la capacitación constante en diferentes áreas.
                </p>
            </span>
        </div>
