<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/html.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'lightblue'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'lightblue'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/javas.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="140"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'lightblue'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../assets/sproblems.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'lightblue'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/team.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'lightblue'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/GitHub2.jpg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'lightblue'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>

</div>
