.row{
    padding: 20px;
    background: rgb(156, 183, 248);
    }
footer{
    color: #fefefeb2;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}